@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmación de correo";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info">
        @Model.StatusMessage
    </div>
}