@using Microsoft.AspNetCore.Identity
@using SGC.Abstracciones.Modelos.ModeloDA
@inject SignInManager<UsuarioDA> SignInManager
@inject UserManager<UsuarioDA> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Usuario/Logout">Logout</a>
        </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" href="/Usuario/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
